# IDE & OS specific
.DS_Store
.idea

# Dependencies
node_modules
logs

# Sources, tests and builder files
src
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.vscode/
jest.config.js
jest.setup.js
jsconfig.json

package-lock.json
yarn.lock
