# IDE & OS specific
.DS_Store
.idea
.vscode

# Dependencies
logs
node_modules
reporting

# Sources, tests and builder files
src
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.npmrc
.prettierrc.js
.prettierrc.js.for.vue
.watchmanconfig
babel.config.js
jest.config.js
jest.config.single.js
jest.setup.js
jsconfig.json
